<div class="slider">
  <ul>
    <li style="background-color:#0c1234;background-image: -webkit-image-set(url(/img/slider_01_1x.png) 1x,url(/img/slider_01_2x.png) 2x);background-position: right bottom;background-repeat: no-repeat;">
      <div class="content">
        <div class="title">杭州消安云平台物联网远程消防监控平台</div>
        <div class="sub-title">
          <p>实现建筑消防设施实时监控及高效管理，打造智慧消防新模式</p>
          <p>探索“智慧消防”领域，以物联网+服务的模式</p>
          <p>致力于智慧消防物联网综合监控管理事业的发展</p>
        </div>
      </div>
    </li>
    <li style="background-color:#0c1234;">
      <div></div>
    </li>
  </ul>
</div>

<div class="main">
  <div class="grid product">
    <div class="hd">
      核心产品
    </div>
    <div class="bd">
      <ul>
        <li>
          <div class="icon">
            <span class="iconfont icon-yunjisuan"></span>
          </div>
          <div class="title">
            消安 Cloud
          </div>
          <div class="description">
            系统利用物联网技术，采用包含5G、NB-IOT等多种 联网方式，将分散在城市中各个建筑内部的消防设备 连成网络，从而实现对联网
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="iconfont icon-xiaochengxu"></span>
          </div>
          <div class="title">
            消安 City
          </div>
          <div class="description">
            消安City基于消安Cloud平台，通过结合“B端”及 “C端”的各类信号，并进行智能分析、过滤验证， 将发生在城市内的各类险
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="iconfont icon-AI"></span>
          </div>
          <div class="title">
            消安 AIoT
          </div>
          <div class="description">
            该算法通过稀疏学习和基于特征选择的深度学习，选 取与目标最具相关性的特征，经过消安Cloud上的历 史大数据不断训练，发现潜在
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid">
    <div class="hd">
      消防可视化
    </div>
    <div class="bd">
      <img src="/img/data_visualization.jpg" alt="">
    </div>
  </div>
  <div class="grid case-show">
    <div class="hd">
      案例展示
    </div>
    <div class="bd">
      <ul>
        <li>
          <div class="img">
            <img src="/img/case_01.jpg" alt="">
          </div>
          <div class="title">
            浙江美术馆
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/img/case_02.jpg" alt="">
          </div>
          <div class="title">
            奥体博览中心
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/img/case_03.jpg" alt="">
          </div>
          <div class="title">
            银泰百货
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/img/case_04.jpg" alt="">
          </div>
          <div class="title">
            浙大紫荆港校区
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/img/case_05.jpg" alt="">
          </div>
          <div class="title">
            黄龙饭店
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/img/case_06.jpg" alt="">
          </div>
          <div class="title">
            绿城物业
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid about-us">
    <div class="hd">
      关于我们
    </div>
    <div class="bd">
      <div class="inner-bd">
        <div class="description">
          <p>杭州消安通信技术有限公司成立于1998年，公司主要从事消防物联网远程监测工作，与杭州市119调度指挥中心同步联动，协助119完成火灾监控任务。在多年的实际工作中，本公司一直本着用户第一的服务理念，防火责任重于泰山的工作态度，为广大用 户解决消防工作中的各种问题。</p>
          <p>随着物联网、云计算、移动互联网等新一代信息技术的迅猛发展，公司与时俱进，结合自身多年消防管理经验，围绕“智慧城市”理 念，探索“智慧消防”领域，以物联网+服务的模式，致力于智慧消防物联网综合监控管理事业的发展，立志做“中国领先的智慧消防云平台运营商”。</p>
        </div>
        <div class="history">
          <div class="row clearfix">
            <div class="date">1998年</div>
            <div class="event">根据杭州市公安消防支队杭公消(1998)239号文件《关于筹建杭州市消防无线报警网络的函》，成立杭州消安通信技术有限公司并负责此网络的运营和管理。</div>
          </div>
          <div class="row clearfix">
            <div class="date">
              <p>1999年</p>
              <p>-</p>
              <p>2001年</p>
            </div>
            <div class="event">根据杭州市公安支队文件，授权安装《城市火灾自动报警监控系统》。文件号杭公消[1999]64号、[2000]118号、[2001]64号135号。</div>
          </div>
          <div class="row clearfix">
            <div class="date">2015年</div>
            <div class="event">
              <p>与海康威视签订战略合作协议 。</p>
              <p>与华数传媒网络有限公司签订合作协议。</p>
            </div>
          </div>
          <div class="row clearfix">
            <div class="date">2016年</div>
            <div class="event">中标G20项目《杭州市消防安全远程监测管理系统平台》，杭州市公安消防局发文，杭公消[2016]85、116号，杭州消安通信技术有限公司负责实施工作。</div>
          </div>
          <div class="row clearfix">
            <div class="date">2017年</div>
            <div class="event">
              <p>中标《杭州市消防安全远程监测管理系统平台》的运维项目。</p>
              <p>成为浙江省互联网产业联合会理事单位。</p>
              <p>与中国电信浙江省分公司签署了合作协议，搭建省级消防联 网平台。</p>
            </div>
          </div>
          <div class="row clearfix">
            <div class="date">2018年</div>
            <div class="event">
              <p>受邀参加阿里2018云栖大会深圳峰会，成为主展单位之一;</p>
              <p>受邀参加第九届中国国际安全生产展览会，成为重要参展单位。</p>
            </div>
          </div>
          <div class="row clearfix">
            <div class="date">2019年</div>
            <div class="event">
              <p>与海康威视、华数传媒签署合作协议，强强联合，推进消防安全远程监测(物联网监测)工作;</p>
              <p>“消安city”上线。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>